body {
	background-color: #909cf5;
	font-family: Arial, sans-serif;
}

.container {
	width: 80%;
	margin: 40px auto;
	padding: 30px;
	background-color: #23db9e;
	border: 1px solid #ff3f3f;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
	color: #333;
    font-size: 50px;
}

img {
	width: 350px;
	height: 250px;
	border-radius: 10%;
	margin: 50px;
}


li {
	margin-bottom: 20px;
}

li strong {
	color: #333;
}